<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css" />
</head>

<body>
    <div class="container">
        <h1 class="text-center">Burger Logger</h1>

        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <h2>Fresh off the grill</h2>
                    <img width="525" src="../public/assets/images/bun-top.png">
                    <div class="burger-body">
                        <ul>
                            test
                        </ul>
                    </div>
                    <img width="525" src="../public/assets/images/bun-bottom.png">
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <h2>Devoured</h2>
                    <img width="525" src="../public/assets/images/bun-top.png">
                    <div class="burger-body">
                        <ul>
                            test
                        </ul>
                    </div>
                    <img width="525" src="../public/assets/images/bun-bottom.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>