body {
    background-image: url(../images/diner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    color: #EA5720;
    font-family: 'Passion One', cursive;
}

h2 {
    color: #EA5720;
    font-family: 'Passion One', cursive;
}

button {
    background-color: #655041 !important;
    border: solid 2px #EA5720 !important;
}

.card {
    border: none !important ;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

p {
    height: 48px;
    width: 80%;
    padding-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    list-style: none;
    color: white;
    background-color: #5F4A3C;
    border-radius: 20px;
}

.bun-bottom {
    margin-top: -15px;
    margin-bottom: 15px;
}